:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-color: #F5F5F5;
  --secondary-title-color: #000000;
  --accent-color: #ff7f50;
  --menu-site-color: #757575;
  --hero-address-color: #2F303A;
  --mail-links-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #FFFFFF;
  --text-color: #212121;
  --address-color: #2196F3;
  --button-color: rgb(130, 187, 245);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

 
.link {
  text-decoration: none;
}
  
.list {
  list-style: none;
}
  
.img {
  display: block;
}
  
.button {
  cursor: pointer;
}

  
/*--body--*/
  
body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color:var(--title-color);
  color: var(--secondary-title-color);
}
  
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


/*--header*/

.page-logo,
.address-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--address-color);
}
.page-list, 
.address-item {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
  
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.logo {
  margin-right: 93px;
}

.menu-link.link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.menu-link.item {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

.menu-site:hover,
.menu-site:focus {
  color: var(--address-color);
} 
   
.menu-link:hover,
.menu-link:focus {
  color: var(--address-color);
}
  
.menu-site,
.contact-phone-number{
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--menu-site-color);
}
  
.menu-site {
  margin-left: auto;
  margin-right: 50px;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--address-color);
}
 

/*--hero--*/

.hero {
background-color: var(--hero-address-color);
}


.hero-title {
  font-weight: 900;
  font-size: 44px;
  Line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-left: 226px;
  margin-right: 226px;
  color: var(--title-text-color);
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--address-color);
  border: none;
  padding: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 470px;
  margin-bottom: 200px;
  border-radius: 4px;
  color: var(--title-text-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-color);
}


/*--section-title--*/

.text-container {
  width: 270px;
}

.section-list {
  display: flex;
  column-gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  padding-right: 30px;
  color: var(--text-color);
}

.section-text{
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-left: auto;
  color: var(--menu-site-color);
}


/*--section-work--*/
/*--post-section--*/

.post-section {
  background-color: var(--title-color);
}

.user {
  width: 270px;
  background-color:var(--title-text-color);
}

.section-list-container {
  display: flex;
  column-gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}

.list-container {
  display: flex;
  column-gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}

.section-item,
.post {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: Center;
  color: var(--text-color);
}

.post {
  padding-top: 94px;
}

.post-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: Center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--text-color);
}

.post-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: Center;
  color: var(--menu-site-color);
}
  
/*--address--*/
  
.address {
  background-color:var(--hero-address-color);
}

.address-container {
  padding-top: 60px;
  padding-bottom: 60px;
}


.address-contact {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--title-text-color);
}
  
.address-mail,
.address-phone {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  color: var(--mail-links-color);
}

.mail-links:hover,
.mail-links:focus {
  color: var(--address-color);
}
  
.phone-links:hover,
.phone-links:focus {
  color: var(--address-color);
}